body,
html {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}

.page {
    display: none;
}

.visible {
    display: block;
}

.notif {
    position: fixed;
    top: 10px;
    left: 10px;
    color: #fff;
    height: 30px;
    width: calc(100vw - 20px);
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.notif--red {
    background: #c0392b;
}

.notif--green {
    background: #2ecc71;
}

.menu, .return {
    top: 60px;
    left: 25px;
    position: absolute;
    color: #2b2b2b;
    --ggs: 1.5;
}

.return {
    top: 30px;
    color: white;
    cursor: pointer;
}

.add {
    position: fixed;
    display: flex;
    background: #5886ff;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    bottom: 30px;
    right: 30px;
    transition: all .3s ease;
    cursor: pointer;
}

.add.active {
    width: 300px;
}

.add i {
    margin: auto;
    transition: all .3s ease;
    --ggs: 1.3;
}

.add.active i {
    margin: auto;
    --ggs: 1.3;
    opacity: 0;
}

.add.active input {
    height: 20px;
    width: 260px;
}

.add input {
    height: 0;
    width: 0;
    border: none;
    outline: none;
    background: none;
    transition: all .3s ease;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
}

h1 {
    color: #2b2b2b;
    margin: 0 20px;
    font-family: 'Roboto';
    padding-top: 100px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.todo:nth-child(1n) .icon {
    color: #5886ff;
}
.todo:nth-child(2n) .icon {
    color: #fcba77;
}
.todo:nth-child(3n) .icon {
    color: #f8937c;
}
.todo:nth-child(4n) .icon {
    color: #56cc7b;
}
.todo:nth-child(5n) .icon {
    color: #8d85d1;
}
.todo:nth-child(6n) .icon {
    color: #dc6a5c;
}
.todo:nth-child(7n) .icon {
    color: #ad6ac5;
}
.todo:nth-child(8n) .icon {
    color: #45b2bd;
}

.todo {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
    background: white;
    border-radius: 10px;
    font-family: 'Roboto';
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.icon {
    margin: 35px;
    --ggs: 1.7;
}

.title {
    position: absolute;
    color: #2b2b2b;
    font-weight: 600;
    bottom: 40px;
    left: 20px;
}

.hour {
    position: absolute;
    color: #5b5b5b;
    font-weight: 400;
    font-size: 14px;
    bottom: 20px;
    left: 20px;
}


.todoPage {
    background: #5886ff;
}

.todoPage h1 {
    color: white;
    height: 30px;
}

.todoIcon {
    position: absolute;
    right: 50px;
    top: 50px;    
}

.todoIcon .icon {
    color: white;
    --ggs: 5;
}

.todoPreview {
    border-radius: 30px 30px 0 0;
    background: white;
    color: #2b2b2b;
    font-family: 'Roboto';
    padding: 40px 20px 0;
    margin-top: 50px;
}

label span {
    position: absolute;
    opacity: 0;
}